*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-clr: #1D1F29;
    --secondary-clr:#252B42;
    --tertiary-clr:#fff;
    --fourth-clr: #8C98C6;
    --fifth-clr: #20222F;
}
.light{
    --primary-clr: #FFF;
    --secondary-clr: #F1F3FA;
    --tertiary-clr: #1D1F29;
    --fourth--clr: #63687D ;
    --fifth-clr: #F7F9FF;
}

/* .li{
    background-color: #F1F3FA;
} */
body{
    font-family: Inter;
    position: relative;
    background: var(--primary-clr);
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    background: var(--fifth-clr);
    height: 15.25rem;
}
.top{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.title{
    color: var(--tertiary-clr);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}
.total-followers{
    color: var(--fourth-clr);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.5rem;
}
.top-right{
    display: flex;
}
.dark-mode{
    color: var(--fourth-clr) ;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.2rem;
    margin-right: 0.8rem;
}
.dark-btn{
    width: 3rem;
    height: 1.5rem;
}
.light-btn{
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    right: 8.78rem;
    display: none;
}
.dark-btn:hover{
    cursor: pointer;
}
.grid-container1{
    position: absolute;
    top: 8rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 8rem;
    grid-gap: 30px;
}
button{
    width: 3.5rem;
    height: 1.8rem;
    background: none;
    border: none; 
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13.5rem;
    background-color: var(--secondary-clr);
    text-align: center;
    border-top: 5px solid #178FF5;
    border-radius: 5px;
    width: 15.9375rem;
    height: 13.5rem;
}
.card:nth-child(3):hover{
    cursor: pointer;
}
.card-top span{
    color: var(--fourth-clr);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.5rem;
}
.followers-today{
    color: var(--tertiary-clr);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; 
    letter-spacing: -0.125rem;
    margin-bottom: 0.5rem;
}
.followers{
    color: var(--fourth-clr);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3125rem;
}
.today{
    color: #1EB589;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-top{
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
}
.card-bottom{
    margin-bottom: 1.5rem;
}
.dropdown{
    margin-bottom: 0.1rem;
}
.card:nth-child(3){
    border-top: 4px solid;
    border-image: linear-gradient(90deg, #DF4896, #EE877E, #FDC366);
    border-image-slice: 1;
    border-radius: 5px;
}
.card:nth-child(4){
    border-top: 5px solid #C4032B;
}
.card:nth-child(4) .today{
    color: #DC414C;
}
.overview{
    margin-top: 9rem;
    margin-left: 8rem;
    color: var(--tertiary-clr);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.grid-container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    margin: 0 8rem;
}
.card2:nth-child(3):hover{
    cursor: pointer;
}
.card2{
    width: 15.9375rem;
    height: 7.8125rem;
    border-radius: 0.3125rem;
    background: var(--secondary-clr);
    margin-top: 1rem;
}
.card2-top{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.5rem;
}
.card2-top p{
    color: var(--fourth-clr);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card2-bottom{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
}
#number{
    color: var(--tertiary-clr);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -1rem;
}
.card2-br{
    display: flex;
    align-items: center;
}
.percentage{
    color: #1EB589;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.2rem;
}
.card2:nth-child(2) .percentage{
    color: #DC414C;
}
.card2:nth-child(7) .percentage{
    color: #DC414C;
}
.card2:nth-child(8) .percentage{
    color: #DC414C;
}

/* MEDIA QUERY PHONE */
@media (min-width: 320px) and (max-width: 767px){
    body{
        overflow-x: hidden;
        position: relative;
        background: var(--primary-clr);
        width: 100%;
        height: 100vh;
    }
    header{
        height: 14.6875rem;
    }
    .top{
        flex-direction: column;
        width: 80%;
        margin-bottom: 5rem;
    }
    .top-left{
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom:  1px solid #8C98C6;
    }
    .top-right{
        justify-content: space-between;
    }
    .title{
        font-size: 1.5rem;
    }
    section{
        width: 80%;
        display: flex;
        /* flex-direction: column;
        position: relative; */
        justify-content: center;
        align-items: center;
        margin-left: 20%;
    }
    .grid-container1{
        position: absolute;
        top: 12rem;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .card{
        width: 80%;
        height: 13.5rem;
    }
    .overview{
        margin-left: 0;
        display: flex;
        width: 100%;
        position: absolute;
        top: 65rem;
    }
    .grid-container2{
        position: absolute;
        top: 76rem;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .card2{
        width: 80%;
    }
}
@media (max-width:320px){
   .title{
    font-size: 1.125rem;
   }
}